:root{
    --primary-blue: hsl(223, 87%, 63%);
    --secondary-blue: hsl(223, 100%, 88%);
    --secondary-red: hsl(354, 100%, 66%);
    --neutral-gray: hsl(0, 0%, 59%);
    --neutral-blue: hsl(209, 33%, 12%);
    --white: white;
    --fa-border-radius: 50%;
    --fa-border-color: hsl(223, 100%, 88%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2.0rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-gray{
    color: var(--neutral-gray);
}
.container{
    width: 30rem;
    height: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.logo-img{
    margin-bottom: 4rem;
}
.text-launching{
    margin-bottom: 2.5rem;
}
.container span:nth-child(1){
    color: black;
    font-weight: bold;
}
.text-subscribe{
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.input-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    margin-bottom: 6rem;
}
.input-submit{
    margin-bottom: 0.5rem;
    height: 3.5rem;
    border: 1px solid var(--secondary-blue);
    border-radius: 2rem;
    padding-left: 3rem;
    color: var(--secondary-blue);
    font-size: 1.2rem;
}
.button-submit{
    height: 3.5rem;
    color: var(--white);
    background-color: var(--primary-blue);
    border-radius: 2rem;
    border: none;
    box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.1);
}
.dashboard-image{
    width: 100%;
    margin-bottom: 14rem;
}
.icon-container{
    width: 14rem;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
i{
    color: var(--primary-blue);
    border: 1px solid var(--secondary-blue);
    border-radius: 50%;
    padding: 1.5rem 1rem;
}
.copyright{
    color: var(--neutral-gray);
    font-size: 1rem;
}
@media (min-width: 800px){
    .container{
        width: 50rem;
    }
    .input-form{
        flex-direction: row;
    }
    .input-submit{
        width: 64%;
        margin-right: 4%;
    }
    .button-submit{
        width: 32%;
    }
    .button-submit:hover{
        background-color: hsl(223, 87%, 70%);
        cursor: pointer;
    }
}